* {
    margin: 0;
    box-sizing: 0;    
}

nav ul.menu {
    display: flex;
    list-style-type: none;
}

nav ul.menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul.menu a:hover {
    text-decoration: underline;
}

div.bar .logo {
    font-size: 30px;
    text-shadow: 1px 1px 1px #fff;
    padding: 5px;

}

header div.bar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(6, 6, 100, 0.637);
}