/* usado para todos os elementos da pagina */
/* * {
    box-sizing: border-box;
    margin: 0;
} */

header {
    background-color: black;
}

.container {
    background-color: rgb(255, 0, 0);
    /* margin-top: 20px; 
    margin-right: 80px;
    margin-bottom: 200px;
    margin-left: 60px;    
     */
    /* A sequencia usa a sequencia igual relogio top, right, bottom e left */
     margin:50px 80px 200px 60px
    
}

/* .logo {
    background-color: rgb(228, 25, 136);
    margin-top: 20px;
    margin-top: 30px;
} */

/* body {
   
}*/


/* color: rgb(3, 5, 46);
    background: rgb(135,189,134,1);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Shizuru', cursive; */


/* header a{
    color:white;
}
header a:visited{
    color:blue;
}

header hover{
    color:blue;
}
header a:active{
    color:pink;
} */



/* h1 {
    color: white;    
}

.carros{
    color:brown
} */

/* Sintaxe para usar algo identificado ou seja especifico*/
/* #sonho-realidade{
    color: aqua;
}

p{
    color:blueviolet !important;
} */