/* usado para todos os elementos da pagina */
/* * {
    box-sizing: border-box;
    margin: 0;
} */

header {
    background-color: black;
}

.container {
    background-color: rgb(255, 0, 0);
    /* margin-top: 20px; 
    margin-right: 80px;
    margin-bottom: 200px;
    margin-left: 60px;    
     */
    /* A sequencia usa a sequencia igual relogio top, right, bottom e left */
    /* margin:50px 80px 200px 60px */
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    background-color: aqua;
    border-radius: 5px;

}

ul li a {
    display: block;
    padding: 10px;
}

ul li a:hover {
    background-color: rgb(3, 3, 46);
    border-radius: 5px;
    color: rgb(190, 190, 177)
}

/* .logo {
    background-color: rgb(228, 25, 136);
    margin-top: 20px;
    margin-top: 30px;
} */

body {
    margin: 0;

}


/* color: rgb(3, 5, 46);
    background: rgb(135,189,134,1);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Shizuru', cursive; */


/* header a{
    color:white;
}
header a:visited{
    color:blue;
}

header hover{
    color:blue;
}
header a:active{
    color:pink;
} */



/* h1 {
    color: white;    
}

.carros{
    color:brown
} */

/* Sintaxe para usar algo identificado ou seja especifico*/
/* #sonho-realidade{
    color: aqua;
}

p{
    color:blueviolet !important;
} */